*
{ 
    padding: 3px;
    margin: 0;
}
body
{
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Social
{
    color: aliceblue;
}
.menu-bar
{
   background: rgb(0, 0, 0);
   text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: rgb(255, 255, 255);
}
.menu-bar ul li
{
    width: 150px;
    margin: auto;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: aliceblue;
}
.menu-bar ul li:hover
{
   background: #da4754;
   border-radius: 3px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{

}
